<form method="GET" action="/search">

    <div>
        <label for="q">Search String</label>
    </div>
    <input type="text" name="q" id="q" placeholder="Enter the App name" size="40" required>
    <button type="submit">Search</button>

</form>