<form method="GET" action="/search">

    Search:
    <input type="text" name="search-term" size="50" 
        placeholder="Please enter a search term">

    <div>
        <button type="submit">SEARCH</button>
    </div>

</form>