<h2>List of Apps</h2>

<h3>Root resource {{ root }}</h3>

<ul>
    {{#each apps}}
        <li>
            <a href="{{root}}app/{{ this.app_id }}">{{ this.name }}</a>
        </li>
    {{/each}}

</ul>