<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>TV Listing</title>
		<link rel="stylesheet" 
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
				crossorigin="anonymous">
		<link rel="stylesheet" 
				href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	</head>
	<body>

		<div class="container">

			<div class="row">
				<div class="col">
					<h1>My TVDB</h1>
				</div>
			</div>

			<div class="row">
				<div class="col">
					{{{ body }}}
				</div>
			</div>

		</div>
		
	</body>
</html>
